{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "importOrder": [
    "^api/(.*)$",
    "^components/(.*)$",
    "^pages/(.*)$",
    "^theme/(.*)$",
    "^translations/(.*)$",
    "^types/(.*)$",
    "^utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
